.td_transactions_bank_alias {
   font-size: 1.3em;
   width: 100px;
}

.input_transactions_amount {
   font-size: 1.2em;
   width: 100px;
}

.input_transactions_date_picker {
   font-size: 1.3em;
}

#td_transactions_submit {
   padding-top: 5px;
   padding-bottom: 5px;
   border: 0;
   text-align: center;
}

#input_transactions_submit {
   font-size: 2em;
}

