#div_transactions {
   width: 90%;
   margin: auto;
}

#ul_transactions {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   font-size: 2em;
}

#ul_transactions li{
   padding-left: 3%;
}
