div {
    height: 70%;
    width: 70%;

    position: fixed;
    top: 15%;
    left: 20%;
    margin-top: -100px;
    margin-left: -200px;
}

h2 {
  color: navy;
  margin-left: 20px;
}

ul {
   list-style-type: none;
   font-size: 2em;
}

li {
   padding-left: 30%;
   padding-top: 3%;
}

li:last-child {
   float: right;
}

#login_btn {
   font-size: 1em;
}

