#bank_dropdown_filter {
   font-size: 0.7em;
   font-weight: bold;
}

#ul_recent_trans {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   font-size: 1em;
   padding-left: 0px;
}

#ul_recent_trans li {
   padding-right: 7%;
}

#input_num_trans {
   width: 20%;
   font-size: 0.7em;
   text-align: right;
}

.tr_deposits {
   background-color: gold;
}

.tr_withdrawals {
   background-color: hotpink;
}

.td_trans_row_index {
   font-size: 1.3em;
   text-align: right;
   padding-right: 2%;
   width: 15%;
}

.td_trans_checkbox {
   width: 30px;
   height: 30px;
}

.td_trans_bank_alias {
   font-size: 1.3em;
   width: 130px;
}

.td_trans_date {
   font-size: 1.3em;
   width: 130px;
   text-align: center;
}

.td_trans_amount {
   font-size: 1.3em;
   width: 120px;
   text-align: right;
   padding-right: 10px;
}

.td_trans_notes {
   font-size: 1.3em;
   padding-left: 1%;
}

.td_edit_trans {
   font-size: 1.3em;
   padding-left: 1%;
   width: 7%;
}

#input_delete_transactions_submit {
   font-size: 2em;
}
