.td_withdraw_bank_alias {
   font-size: 1.3em;
   width: 100px;
}

.td_withdraw_amount {
}

.input_withdraw_amount {
   font-size: 1.2em;
   width: 100px;
}

.input_withdraw_date_picker {
   font-size: 1.3em;
}

#td_withdraw_submit {
   padding-top: 5px;
   padding-bottom: 5px;
   border: 0;
   text-align: center;
}

#input_withdraw_submit {
   font-size: 2em;
}

