.td_deposit_bank_alias {
   font-size: 1.3em;
   width: 100px;
}

.td_deposit_amount {
}

.input_deposit_amount {
   font-size: 1.2em;
   width: 100px;
}

.input_deposit_date_picker {
   font-size: 1.3em;
}

#td_deposit_submit {
   padding-top: 5px;
   padding-bottom: 5px;
   border: 0;
   text-align: center;
}

#input_deposit_submit {
   font-size: 2em;
}

